<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>SECA Groups</title>
    <script>
      function checkform(form) {
        const nameField = form.elements['name'];
        if (nameField.value.trim() === '') {
          alert("Group Name can't be blank");
          return false; 
        }
        return true; 
      }
    </script>
  </head>
  <body>
    <h1>All Groups</h1>
    <h2>Create a new Group</h2>
    <section>
      <form method="POST" style="display: inline;" onsubmit="return checkform(this)">
        <p>Name: <input type="text" name="name" value="" /></p>
        <p>Description: <input type="text" name="description" value="" /></p>
        <input type="submit" value="Create Group" />
      </form>
      <button
        onclick="window.location.href='/site/home'"
        style="margin-left: 1065px;"
      >Home Screen</button>
    </section>
    <hr />
      {{#each groups}}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{name}}" aria-expanded="false" aria-controls="c{{name}}">
              Name: <a href="/site/groups/{{id}}">{{name}}</a>
            </button>
          </h2>
          <div id="{{name}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Description: {{description}}
            </div>
          </div>
        </div>
        {{#if eventId}}
          <form
            method="POST"
            action="/site/groups/{{id}}/events?eventId={{eventId}}"
          >
            <button name="event">Add Event</button>
          </form>
        {{/if}}
        <br />
      {{/each}}
  </body>
</html>