<!DOCTYPE html>
<html>
    <head>
        <title>SECA Group Details</title>
    </head>
    <body>
        <h1>Group Details</h1>
        <section style="display: inline;">
        <button
            onclick="window.location.href='/site/groups'"
            style="margin-left: 1033px;"
        >Go Back To Groups</button>
        <button
            onclick="window.location.href='/site/home'"
        >Home Screen</button>
        </section>
        <section style="border: 1px solid black;">
            {{> groupPartial this}}  
            <p>Events:
                {{#if events}}
                {{#each events}}
                    <div style="border: 1px solid black;">
                        {{> eventPartial this}}
                    </div>
                    <form method="POST" action="/site/groups/{{../id}}/events/{{id}}">
                        <input type="submit" value="Delete Event" id="deleteEventFromGroup">
                    </form>
                <br>
                {{/each}}
                {{else}}
                    No Events
                {{/if}}
            </p> 
        </section>
            <form method = "GET" action="/site/groups/{{id}}/update" style="display: inline;">
                <input type = "submit" value = "Edit Group">
            </form>
            <input type="submit" value="Delete Group" id="deleteGroup">
            <script type="application/ecmascript" src="/site/js/groups.js"></script>
            <script type="application/ecmascript">
                registerDeleteGroup('{{token}}')
            </script>
    </body>
</html> 