<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/site/css/style.css" />
    <title>SECA Groups</title>
    <script>
      function checkform(form) {
        const nameField = form.elements['name'];
        if (nameField.value.trim() === '') {
          alert("Group Name can't be blank");
          return false; 
        }
        return true; 
      }
    </script>
  </head>
  <body>
    <h1>All Groups</h1>
    <h2>Create a new Group</h2>
    <section>
      <form method="POST" style="display: inline;" onsubmit="return checkform(this)">
        <p>Name: <input type="text" name="name" value="" /></p>
        <p>Description: <input type="text" name="description" value="" /></p>
        <button type="submit">Create Group</button>
      </form>
      <button
        onclick="window.location.href='/site/home'"
        style="margin-left: 1030px;"
      >Home Screen</button>
    </section>
    <hr />
      <form action="/site/groups" method="get">
          <label for="size">Page Size:</label>
          <input type="number" id="size" name="s" value="{{size}}">
          <input type="hidden" name="p" value="{{currentPage}}">
          <button type="submit">Set Page Size</button>
      </form>
      {{#if previousPage includeZero=true}}
        <button 
          onclick="window.location.href='/site/groups?p={{previousPage}}&s={{size}}'"
          {{#if (isNotDefined nextPage)}}
            style="margin-left: 1175px;"
          {{else}}
            style="margin-left: 1125px;"
          {{/if}}
        >Previous</button>
      {{/if}}
      {{#if nextPage}}
        <button 
          onclick="window.location.href='/site/groups?p={{nextPage}}&s={{size}}'"
          {{#if (isNotDefined previousPage)}}
            style="margin-left: 1205px;"
          {{/if}}
        >Next</button>
      {{/if}}
      <p></p>
      {{#each groups}}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{name}}" aria-expanded="false" aria-controls="c{{name}}">
              Name: <a href="/site/groups/{{id}}">{{name}}</a>
            </button>
          </h2>
          <div id="{{name}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Description: {{description}}
            </div>
          </div>
        </div>
        {{#if eventId}}
          <form
            method="POST"
            action="/site/groups/{{id}}/events?eventId={{eventId}}"
          >
            <button name="event">Add Event</button>
          </form>
        {{/if}}
        <br />
      {{/each}}
  </body>
</html>