<!DOCTYPE html>
<html>
    <head>
        <title>SECA Search Events by name</title>
    </head>
    <body>
        <h1>Search Events</h1>
        <button
            onclick="window.location.href='/site/home'"
            style="margin-left: 1140px;"
        >Home Screen</button>
        <form action="/site/events" method="get">
            <input type="hidden" name="keyword" value="{{keyword}}">
            <label for="size">Page Size:</label>
            <input type="number" id="size" name="s" value="{{size}}">
            <input type="hidden" name="p" value="{{currentPage}}">
            <button type="submit">Set Page Size</button>
        </form>
        {{#if previousPage}}
            <button 
                onclick="window.location.href='/site/events?keyword={{keyword}}&s={{size}}&p={{previousPage}}'"
                {{#if (isNotDefined nextPage)}}
                    style="margin-left: 1175px;"
                {{else}}
                    style="margin-left: 1125px;"
                {{/if}}
            >Previous</button>
        {{/if}}
        {{#if nextPage}}
            <button 
                onclick="window.location.href='/site/events?keyword={{keyword}}&s={{size}}&p={{nextPage}}'"
                {{#if (isNotDefined previousPage)}}
                    style="margin-left: 1205px;"
                {{/if}}
            >Next</button>
        {{/if}}
        {{#each events}}
            <section style="border: 1px solid black;">
                {{> eventPartial this}} 
            </section>
            <form action="/site/groups">
            <button name="eventId" value="{{id}}">Add Event</button>
            </form>
            <br>
        {{/each}}
    </body>
</html>