<!DOCTYPE html>
<html>
    <head>
        <title>SECA Search Events by name</title>
    </head>
    <body>
        <h1>Search Events</h1>
        <button
            onclick="window.location.href='/site/home'"
            style="margin-left: 1165px;"
        >Home Screen</button>
        <form action="/site/events" method="get">
            <input type="hidden" name="keyword" value="{{keyword}}">
            <label for="size">Page Size:</label>
            <input type="number" id="size" name="s" value="{{size}}">
            <input type="hidden" name="p" value="{{currentPage}}">
            <input type="submit" value="Set Page Size">
        </form>
      {{#if previousPage}}
      <a href="/site/events?keyword={{keyword}}&s={{size}}&p={{previousPage}}">Previous</a>
    {{/if}}
    {{#if nextPage}}
      <a href="/site/events?keyword={{keyword}}&s={{size}}&p={{nextPage}}">Next</a>
    {{/if}}
        {{#each events}}
            <section style="border: 1px solid black;">
                {{> eventPartial this}} 
            </section>
            <form action="/site/groups">
            <button name="eventId" value="{{id}}">Add Event</button>
            </form>
            <br>
        {{/each}}
    </body>
</html>