<!DOCTYPE html>
<html>
    <head>
        <title>SECA Event Details</title>
    </head>
    <body>
        <h1>Event Details</h1>
        <section style="border: 1px solid black;">
            <section>
            <li>
                 Id: {{id}} <br>
                 Name: {{name}} <br> 
                 <img src="{{image}}" /> <br> 
                 
                 Date Sales Start: {{dateSalesStart}} <br>
                 Date Sales End: {{dateSalesEnd}} <br>
                 Date Event End: {{dateEventEnd}} <br>
                 Segment: {{segment}} <br>
                 Genre: {{genre}} <br>
                 Sub Genre: {{subGenre}} <br>
                 URL: <a href={{url}}>{{url}}</a>
            </li>     
            </section>
        </section>
    </body>
</html> 