<!DOCTYPE html>
<html>
    <head>
        <title>SECA Group Details</title>
    </head>
    <body>
        <h1>Group Details</h1>
        <section style="border: 1px solid black;">
            {{> groupPartial this}}  
            <p>Events:
                {{#if events}}
                {{#each events}}
                    <div style="border: 1px solid black;">
                        {{> eventPartial this}}
                    </div>
                <br>
                {{/each}}
                {{else}}
                    No Events
                {{/if}}
            </p> 
        </section>
        <form method="POST" action="/site/groups/{{id}}/delete">
            <input type="submit" value="Delete Group">
        </form>
        <form method = "POST" action="/site/groups/{{id}}/update">
            <p>name: <input type = "text" name="name" value = "{{name}}"> </p>
            <p>Description: <input type="text" name ="description" value="{{description}}"></p>
            <input type = "submit" value = "Update Group">
        </form>
        <form method = "POST" action="/site/groups/{{id}}/events">
            <p>id: <input type = "text" name ="id" value =""> </p>
            <input type ="submit" value = "Add event to group"> 
        </form>
    </body>
</html> 