<!DOCTYPE html>
<html>
    <head>
        <title>SECA Group Details</title>
    </head>
    <body>
        <h1>Group Details</h1>
        <section style="border: 1px solid black;">
            {{> groupPartial this}}  
            <p>Events:
                {{#if events}}
                {{#each events}}
                    <div style="border: 1px solid black;">
                        {{> eventPartial this}}
                    </div>
                <br>
                {{/each}}
                {{else}}
                    No Events
                {{/if}}
            </p> 
        </section>
            <form method = "GET" action="/site/groups/{{id}}/update" style="display: inline;">
                <input type = "submit" value = "Edit Group">
            </form>
            <form method="POST" action="/site/groups/{{id}}/delete" style="display: inline;">
                <input type="submit" value="Delete Group">
            </form>
            
        <form method = "POST" action="/site/groups/{{id}}/events">
            <p>id: <input type = "text" name ="id" value =""> </p>
            <input type ="submit" value = "Add event to group"> 
        </form>
        <script>
            function deleteEventFromGroup(id) {
                var eventId = document.getElementsByName('event')[0].value;
                var form = document.getElementById("deleteEventForm");
                form.action = "/site/groups/" + id + "/events/" + eventId;
            }
        </script>
        <form id="deleteEventForm" method="POST" onsubmit="deleteEventFromGroup({{id}})">
            <p>id: <input type="text" name="event" value=""></p>
            <input type="submit" value="Delete event from group">
        </form>
    </body>
</html> 